body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('./src/redeemed-splash.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.logo{
    width: 80px;
}